<!DOCTYPE html>
<html>
	<link href="/style.css" rel="stylesheet" type="text/css">
<head>
	<title>Home</title>
</head>
<body>
<% include ../layout/nav %>
	<div class="container">
	<br>
   	<h2 align="center">FARIZ MAULANA PURNOMO</h2><br>
		<center>
			<img src="pur.jpg" width="20%" height="20%">
		</center>
		<br>
		<div>
			<p align="center"><strong>Bandung,</strong>29 Mei 1998</p>
		</div>
		<center>
		<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
			<div class="card-header">Motto</div>
			<div class="card-body">
			    <p class="card-text">Setinggi tingginya bangau terbang, akhirnya jadi kecap juga.</p>
			</div>
		</div>
		</center>
	</div>
</body>
</html>