<!DOCTYPE html>
<html>
	<link href="/style.css" rel="stylesheet" type="text/css">
<head>
	<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<% for(var i=0; i < 92; i++) { %>
				<h1 class="align-middle">LOGIN</h1>
			<% } %>				
		</div>		
	</div>
</body>
</html>