<!DOCTYPE html>
<html>
	<link href="/style.css" rel="stylesheet" type="text/css">
<head>
	<title>Pendidikan</title>
</head>
<body>
<% include ../layout/nav %>
	<div class="container">
		<br>
		<center>
			<table class="table table-hover">
			  <tbody>
			    <tr class="table-active">
			      <th scope="row">SD</th>
			      <td>SD 05 Jakarta</td>
			    </tr>
			    <tr>
			      <th scope="row">SMP</th>
			      <td>SMP 252 Jakarta</td>
			    </tr>
			    <tr>
			      <th scope="row">SMA</th>
			      <td>SMA 91 Jakarta</td>
			    </tr>
			    <tr>
			      <th scope="row">Kuliah</th>
			      <td>ITS</td>
			    </tr>
			  </tbody>
			</table> 
		</center>
		<br>
	</div>
</body>
</html>