<!DOCTYPE html>
<html>
	<link href="/style.css" rel="stylesheet" type="text/css">
<head>
	<title>Pengalaman</title>
</head>
<body>
<% include ../layout/nav %>
	<div class="container">
		<br>
		<center>
			<table class="table table-hover">
			  <tbody>
			    <tr class="table-active">
			      <th scope="row">Ketua Schematics 2018</th>
			    </tr>
			    <tr>
			      <th scope="row">BPH NST Schematics 2017</th>
			    </tr>
			    <tr>
			      <th scope="row">Menjabat 4 Ketua Kelas di Semester 6</th>
			    </tr>
			    <tr>
			      <th scope="row">Menjabat 2 Ketua Kelas di Semester 5</th>
			    </tr>
			    <tr>
			      <th scope="row">Ketua Kelas selama SMA</th>
			    </tr>
			  </tbody>
			</table> 
		</center>
		<br>
	</div>
</body>
</html>